.add-item-form{value: locals[:type]}
  .attr-cont
    %label
      Name:
    %input{name: "name"}

  .attr-cont
    %label
      Description:
    %textarea{name: "description"}

  .attr-cont
    %label
      Time Limit:
    %select{name: "deadline"}
      %option 5 Minutes
      %option 15 Minutes
      %option 30 Minutes
      %option 1 Hour
      %option 2 Hours
      %option 4 Hours
      %option 1 Day
      %option 2 Days
      %option 1 Week


  .button-cont
    %button.item-cancel-button
      \-
    %button.item-create-button
      +
