.add-item-form
  %input{type: "hidden", name: "itemId"}
  .attr-cont
    %label
      Name:
    %input{name: "name"}

  .attr-cont
    %label
      Description:
    %textarea{name: "description"}

  .attr-cont
    %label
      Time Limit:
    %select{name: "deadline"}
      %option{value: "10000"} 10 Seconds
      %option{value: "300000"} 5 Minutes
      %option{value: "900000"} 15 Minutes
      %option{value: "1800000"} 30 Minutes
      %option{value: "3600000"} 1 Hour
      %option{value: "7200000"} 2 Hours
      %option{value: "14400000"} 4 Hours
      %option{value: "86400000"} 1 Day
      %option{value: "172800000"} 2 Days
      %option{value: "1209600000"} 1 Week

  .button-cont
    %button.item-cancel-button
      \-
    %button.item-create-button
      +
