.add-item-form{value: locals[:type]}
  %label
    Name:
  %input{name: "name"}
  %br

  %label
    Description:
  %textarea{name: "description"}
  %br

  %label
    Deadline:
  %input{name: "deadline"}

  %button.item-cancel-button
    \-
  %button.item-create-button
    +
