:plain
  <script class="temple" type="text" data="QueueDo.#{locals[:type]}">
    <li class="item-cont item" value="{{id}}">
      <div class="details-cont">
        <div class="name-cont">
          {{name}}
        </div>
        <div>
          Due: {{deadlineStr}}
        </div>
        <div class="desc-cont">
          {{description}}
        </div>
      </div>

      <div class="action-cont">
        <img src="images/pencil.png" value="{{id}}" class="edit-item-button" />
        <img src="images/trash.png" value="{{id}}" class="delete-item-button" />
      </div>
    </li>
  </script>

