:plain
  <script class="temple" type="text" data="QueueDo.#{locals[:type]}">
   <li class="item-cont item" value="{{id}}">
     {{id}}
     -
     {{name}}
     -
     {{description}}
   </li>
  </script>

