:plain
  <script class="temple" type="text" data="QueueDo.#{locals[:type]}">
    <li class="item-cont item" value="{{id}}">
      <div class="details-cont">
        <div class="name-cont">
          {{name}}
        </div>
        <div>
          Due: {{deadlineStr}}
        </div>
        <div class="desc-cont">
          {{description}}
        </div>
      </div>

      <div class="action-cont">
        <button class="edit-item-button" value="{{id}}">e</button>
        <button class="delete-item-button" value="{{id}}">-</button>
      </div>
    </li>
  </script>

