:plain
  <script class="temple" type="text" data="QueueDo.#{locals[:type]}">
   <li class="item-cont item" value="{{id}}">
     {{id}}
     -
     {{name}}
     -
     {{description}}
       <button class="delete-item-button" value="{{id}}">-</button>
   </li>
  </script>

