.queue-holder
  %p= titleize(locals[:type])
  .queue-cont
    %ul.queue{value: locals[:type]}
      = haml :item_js, locals: locals

  - if locals[:type] == "to_do"
    .add-cont
      %button.create-item-button{value: locals[:type]}
        + 
  - else
    %div{style: "display: inline-block; height: 19px;"}

= haml :add_item_form, locals: locals
