.queue-holder
  .queue-cont
    %ul.queue{value: locals[:type]}
      = render 'views/item.js.haml', locals

  .add-cont
    %a{onclick: "createItem('#{locals[:type]}');"}
      [+]

#add-item-form{style: "display: none;"}
  %h3
    wtf
