body {
  overflow-x: hidden;
  overflow-y: auto;
}

.section {
  padding: 0px;
  margin: 0px;
}

.header {
  width: 100%;
}

.time-cont {
  float: right;
}

.content {
  width: 100%;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
}

.footer {
  width: 100%;
}

button {
  width: 50px;
}
