.item-cont{
  border: solid 1px #C0C0C0;
  height: 110px;
  width: 260px;
  margin: 5px;
  padding: 5px;
  font-size: small;
  border-radius: 5px;
}

.item-cont .name-cont {
  font-weight: bold;
  border-bottom: solid 1px #EEE;
}

.item-cont .details-cont {
  height: 70px;
}

.item-cont .action-cont {
  margin-top: 20px;
}

.warm {
  border-color: #FFFF00;
}

.hot {
  border-color: #FF9933;
}

.incomplete {
  border-color: #CC0000;
}

.complete {
  border-color: #33CC33;
}

.item-cont img {
  height: 20px;
  cursor: pointer;
}

.item-cont .edit-item-button {
  margin-right: 215px;
}
