.queue-holder {
  margin: 5px;
  display: inline-block;
  padding: 5px;
}

.queue-cont {
  border: 1px solid #CCC;
  height: 500px;
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.queue {
  list-style: none;
  margin: 0px;
  padding: 0px 0px 500px 0px;
}

.add-cont {
  text-align: center;
}
