.queue-holder {
  margin: 10px 30px 5px 30px;
  display: inline-block;
  padding: 5px;
  text-align: left;
}

.queue-title {
  font-size: large;
  display: inline-block;
  margin-bottom: 5px;
}

.queue-cont {
  border: solid 1px #D8D8D8;
  height: 475px;
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
}

.queue {
  list-style: none;
  margin: 0px;
  padding: 0px 0px 500px 0px;
}

.add-cont {
  text-align: center;
  height: 50px;
}
